
@{
    ViewBag.Title = "PasswordEmailVerified";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<h2>Password Email Verified</h2>

<h3>Password Email Verification @@:@ViewBag.EmailId</h3>
<br /><br />
<span class="table_field_value">Your password has been reset and changed.  You may now login using your new password.</span>

