@{
    ViewBag.Title = "SalesSummary";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<table class="table_clinic_pageheader">
    <tr>
        <td><h3>Sales Summary for the Year @ViewBag.BusinessYear</h3></td>
    </tr>
</table>
<div class="div_space20"></div>


@using (Html.BeginForm())
{

    <table class="table table-bordered">
    <tr>
        <td>
            <div class="row">
                <div class="col-md-3">
                    @Html.DropDownList("ListOfYears", (List<SelectListItem>)ViewBag.YearsList, "- Select a Year -", new { @class = "form-control" })
                </div>
                <div class="col-md-9">
                    <input type="submit" value="Filter Year" class="btn btn-default" />
                </div>
            </div>
         </td>
    </tr>
    </table>

    <div class="div_space20"></div>

}