
@{
    ViewBag.Title = "SendExamToOBDoctor";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<h3>Send Mail Notification to OB Doctor</h3>

<div class="div_space20"></div>

<span class="error_message">@ViewBag.ResponseMessage</span>

<div class="div_space20"></div>

