body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
{
    max-width: 280px;
}

.div_space20 {
    height: 20px;
}

.line_space {
    height: 5px;
}

.report_head2 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    color: black !important;
}

.report_fieldvalue_01 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    color: black !important;
    font-weight:500;
}

.textarea_report {
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.30em;
    color: black !important;
}

.table_clinic_pageheader {
    width: 100%;
    background-color: aliceblue;
}

.table_clinic {
    width: 100%;
}

.table_clinic_sign {
    width: 100%;
}

.table_clinic_sign td {
    border: 1px solid #080808;
    padding: 5px;
    vertical-align: top;
}

.table_clinic_header {
    border: 1px solid #080808;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.table_clinic_header td {
    border: 1px solid #080808;
    padding: 5px;
}

.table_field_value {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.00em;
    color: black;
    font-weight: 600;
}

.text_form_value {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.15em;
    color: black;
    font-weight: 600;
}

.text_form_value_ii {
    font-size: 1.15em;
    color: red;
    font-weight: 600;
}

.error_message {
    -webkit-print-color-adjust: exact;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.15em;
    color: red !important;
    font-weight: 500;
}

.error_message_ii {
    -webkit-print-color-adjust: exact;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    color: red !important;
}

.error_message_jquery {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.90em;
    color: red !important;
}

.scan_image 
{
    width:520px;
}

.profile_pic {
    width: 200px;
}

.signature_file {
    width: 200px;
}

.service_image_thumb {
    width: 120px;
}

.image_checkbox {
    font-size:14px;
    height:34px;
}

/*-----------------------------------------------------------------------------*/
/*report styles ...*/
.textarea_exam_history 
{
    font-size: 0.95em;
    width:100%; 
    height:80px;
    border:hidden;
}

.textarea_exam_report 
{
    font-size: 0.95em;
    width: 100%;
    height: 400px;
    border: hidden;
}

.textarea_exam_report_edit {
    width: 100%;
    height: 240px;
}

.div_textarea {
    padding: 8px;
}

.report_text1 {
    font-size: 1.15em;
}

.report_text2 {
    font-size: 1.05em;
}

/*------------------------------------------------------------------------------*/
/* check box styles for reporting ...  */
.container_checkbox {
    display: block;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;     -moz-user-select: none;    -ms-user-select: none;    user-select: none;
    font-size: 1.25em;
}

.container_checkbox input {
    position: absolute;
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding-right:30px;
}

.container_checkbox span {
    margin-left: 25px;
        
}

.search_div {
    float: right;
    width: 300px;
    border: 1px solid #CCCCCC !important;
    padding: 10px;
    border-radius: 10px;
    margin-bottom:10px;
}

.hand_cursor {
    cursor:pointer;
}

.sidemenu_div {
    position: fixed;
    padding: 10px;
    right: 0px;
    top: 140px;
    width: 65px;
    height: 210px;
    background-color: aliceblue;
    border: solid 1px #bbbfca;
    border-radius: 20px 5px 5px 20px;
}

.modal {
    display:block;
    position:center; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}




