@{
    ViewBag.Title = "About the Clinic";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}


<h2>@ViewBag.Title</h2>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <img src="~/images/about_JEVEGA_Us.jpg" class="img-responsive img-rounded" />
        <div class="div_space20"></div>
    </div>

    <div class="col-md-8">
        <p>
            <span class="text_form_value">JEVEGA Diagnostic Ultrasound Clinic</span> is a newly established ultrasound clinic in Roosevelt Quezon City.
            We have just opened on 7th October 2019.  We are proud to say that we are one of the few ultrasound clinic
            that provides not only OB exams but as well other types of examinations that mostly done only in the hospital.
            Our Staff the sonographer who is also the owner of the clinic and our Radiologist doctor has a long and vast
            experience of more than 20 years in the field assuring our patients that every exam is accurate and reliable.
            <br /><br />
            Apart from the expertise of our clinical staff, we also utilize the modern system technology to bring our
            services to our patients at excellence and convenience.  We provide a mobile or desktop app to deliver a fast and
            and accurate results to our patients without enabling them to visit the clinic to obtain results.
            <br /><br />
            We apply the same procedure for our Radiologist.  Our radiologist does need to visit our clinic to give official
            report of diagnostic exams.  With our automated application, the doctor can work remotely in his/her office to view
            the exams, make official report and send back to our clinic at once.
            <br /><br />
            Once we received the official report, we can immediately send to OBGyne doctor and our patients through thier 
            email address.  
        </p>

        <div class="div_space20"></div>
    </div>
</div>
</div>
