@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}
<h2>@ViewBag.Title</h2>

<address>

    317 Roosevelt Ave. EDSA Munoz Quezon City<br />
    RADA bldg. 3rd Floor Room 304<br />
    
</address>

<h4>Locate us in Google Map</h4>
<div class="div_space20"></div>

<div class="container body-content">

    <div class="row">
        <div class="col-md-12">
            <a href="https://www.google.com/maps/place/J.E.VEGA+Diagnostic+Ultrasound+Clinic/@("@")14.65403,121.016207,17z/data=!3m1!4b1!4m5!3m4!1s0x3397b71b74baff9d:0x7e4b798185cc6c17!8m2!3d14.65403!4d121.018401" target="_blank">
                <img src="~/images/map_clinic.jpg" class="img-rounded" />
            </a>
        </div>
    </div>
</div>

<div class="div_space20"></div>