
@{
    ViewBag.Title = "Data Privacy Policy";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}


<div class="container">

    <h2>@ViewBag.Title</h2>

    <p>
        We <span class="text_form_value">JEVEGA Diagnostic Ultrasound Clinic</span> highly value the confidentiality of
        information you have entrusted us.  We highly regard your personal, sensitive and privileged information such
        that it will only be used for its intended purpose (or as may be required by existing national and local laws,
        rules and regulations), kept within the agreed period and protected against data privacy breach.  Any personal,
        sensitive and privileged information that you provide shall be kept safe under the Data Privacy Act of 2012
        (the “Act”), applicable laws of the Philippines and the Company’s very own commitment through its
        Data Privacy Policy.

        <br /><br />
        Personal, sensitive and privileged information that you provide shall be used for procedures related to the
        clinic’s diagnostic work flow process.

        <br /><br />
        All information collected by our clinic shall be considered accurate unless the Patient requests for update.
        It shall never be the responsibility of the Clinic to ensure validity / accuracy of information shared by the Patient.

        <br /><br />
        We have implemented technological, organizational and physical security measures to protect your information
        from loss, misuse, modification, unauthorized or accidental access or disclosure, alteration or destruction.
        We put in effect safeguards such as:

        <ol>
            <li>Keeping and protecting your information using a secured server behind a firewall, deploying encryption on computing devices and physical security controls.</li>
            <li>Restricting access to your information only to qualified and authorized personnel who hold your information with strict confidentiality including third-party personnel / company who may be required to process your information.</li>
        </ol>

        <br /><br />
        The data will be kept within 5 years from date of last engagement (e.g. medical report and images) or as may be
        required by existing laws, rules and regulations, unless you request your data to be deleted in our systems,
        databases and hardcopies earlier than this date, subject to limitation of applicable laws and / or the Act.
        Once deleted, your information will no longer be searchable or included in anonymous searches and will be
        completely removed from all the storage location.

        <br /><br />
        Moreover, with regards to our data privacy policy, we assume that you are full responsible for the personal
        privacy of you diagnostic report given and shared to you through our website.

        <br /><br />
        By clicking the button “I Agree” below, you explicitly and unambiguously consent to the collection, processing
        and storage of your personal, sensitive and privileged data JEVEGA Diagnostic Ultrasound Clinic for the
        purpose(s) described in this Data Privacy Notice.  Please ensure that you have completely read and comprehended
        the terms above before submitting.

    </p>

    <div class="div_space20"></div>


</div>



