@{
    ViewBag.Title = "Vision";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<h2>Vision and Mission</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/jevega_us_vision.jpg" class="img-responsive img-rounded" />
            <div class="div_space20"></div>
        </div>

        <div class="col-md-8">
            <p>
                <h3>Our vision and mission is to provide and deliver a high quality, fast, accurate and precise ultrasound diagnostic services 
                with relatively affordable price that caters all people from all walks of life.</h3>
                <br /><br />

            </p>

            <div class="div_space20"></div>
        </div>
    </div>
</div>