
@{
    ViewBag.Title = "Pelvis";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<h2>Pelvis Female</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/services_pelvis.jpg" class="img-responsive img-rounded" />
            <div class="div_space20"></div>
        </div>
        <div class="col-md-8">
            <p>
                A pelvic ultrasound is a noninvasive diagnostic exam that produces images that are used to assess organs and structures within the female pelvis. A pelvic ultrasound allows quick visualization of the female pelvic organs and structures including the uterus, cervix, vagina, Fallopian tubes and ovaries.
                <br /><br />
                This examination  includes the following:
            </p>
            <ul>
                <li>Trans Abdominal</li>
                <li>Trans Vaginal</li>
            </ul>
            <div class="div_space20"></div>
        </div>
    </div>

</div>

