
@{
    ViewBag.Title = "Smallparts";
    Layout = "~/Views/Shared/Layout_inner_page.cshtml";
}

<h2>Small Parts Examination</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/services_thyroid.jpg" class="img-responsive img-rounded" />
            <div class="div_space20"></div>
        </div>
        <div class="col-md-8">
            <p>Ultrasound imaging of small parts is a useful way of evaluating many of the superficial organs of the body such as the thyroid gland, the neck and the testes. The ultrasound images can help an ultrasound practitioner to evaluate these organs and look for signs of disease.</p>
            <p>
               This examination  includes the following:
            </p>
            <ul>
                <li>Breast</li>
                <li>Thyroid</li>
                <li>Carotid Gland</li>
                <li>Submandibullar Gland</li>
                <li>Neck for Lymphnodes</li>
                <li>Soft Tissue</li>
                <li>Chest</li>
                <li>Scrotal</li>
            </ul>
            <div class="div_space20"></div>
        </div>
    </div>

</div>


